################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/B.A.N.J.O/copilot-chat/34dade5d/sessions
/.vs/B.A.N.J.O/copilot-chat/34dade5d/sessions
/.vs
